<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
<item id="title"><![CDATA[默认模板]]></item>
<item id="author"><![CDATA[qm]]></item>
<item id="name"><![CDATA[doc]]></item>
<item id="sql"><![CDATA[0]]></item>
<item id="thumb"><![CDATA[0]]></item>
<item id="version"><![CDATA[1.0.0]]></item>
<item id="time"><![CDATA[2020-9-10 10:29]]></item>
</root>